<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="bh_ros_control_gazebo" params="name namespace">
		<gazebo>
			<plugin name="${name}_gazebo_ros_control" filename="libgazebo_ros_control.so">
				<robotNamespace>${namespace}</robotNamespace>
			</plugin>
		</gazebo>
	</xacro:macro>

</robot>
