<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	
	<property name="finger_stop_kd"             value="1.0" />
	<property name="finger_stop_kp"             value="10000000.0" />
	<property name="finger_fudge_factor"        value="1.0" />

	<property name="finger_kp"                  value="0.0" />
	<property name="finger_kd"                  value="0.0" />
	<property name="finger_fm"                  value="0.0" />

	<property name="finger_tip_kp"              value="0.0" />
	<property name="finger_tip_kd"              value="0.0" />
	<property name="finger_tip_fm"              value="0.0" />

	<property name="finger_tip_mu"              value="500.0" />
	<property name="finger_mu"                  value="500.0" />
	<property name="dist_joint_multiplier" 		value="0.3" />

	<xacro:macro name="barrett_hand_gazebo" params="name namespace">

		<gazebo reference="${name}_barrett_base_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
		</gazebo>

		<gazebo reference="${name}_finger_1_prox_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>
		
		<gazebo reference="${name}_finger_1_prox_joint">
			<stopKd value="${finger_stop_kd}" />
			<stopKp value="${finger_stop_kp}" />
			<fudgeFactor value="${finger_fudge_factor}" />
			<provideFeedback value="true"/>
		</gazebo>

		<gazebo reference="${name}_finger_1_med_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>
		
		<gazebo reference="${name}_finger_1_med_joint">
			<stopKd value="${finger_stop_kd}" />
			<stopKp value="${finger_stop_kp}" />
			<fudgeFactor value="${finger_fudge_factor}" />
			<provideFeedback value="true"/>
		</gazebo>

		<gazebo reference="${name}_finger_1_dist_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>
		
		<gazebo reference="${name}_finger_1_dist_joint">
			<stopKd value="${finger_stop_kd}" />
			<stopKp value="${finger_stop_kp}" />
			<fudgeFactor value="${finger_fudge_factor}" />
			<provideFeedback value="true"/>
		</gazebo>

		<gazebo reference="${name}_finger_2_prox_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>

		<gazebo reference="${name}_finger_2_med_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>

		<gazebo reference="${name}_finger_2_dist_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>

		<gazebo reference="${name}_finger_3_med_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>

		<gazebo reference="${name}_finger_3_dist_link">
			<gravity>true</gravity>
			<material>Gazebo/Grey</material>
			<mu1 value="${finger_mu}" />
			<mu2 value="${finger_mu}" />
			<kp value="1000000.0" />
			<kd value="1.0" />
		</gazebo>
		
		
		<gazebo>
			<plugin name="${name}_mimic_plugin_finger_1_med" filename="libgazebo_mimic_plugin.so">
				<joint>${name}_finger_1_med_joint</joint>
				<mimicJoint>${name}_finger_1_dist_joint</mimicJoint>
				<multiplier>1.0</multiplier>
			</plugin>
		</gazebo>
		
		<gazebo>
			<plugin name="${name}_mimic_plugin_finger_2_med" filename="libgazebo_mimic_plugin.so">
				<joint>${name}_finger_2_med_joint</joint>
				<mimicJoint>${name}_finger_2_dist_joint</mimicJoint>
				<multiplier>1.0</multiplier>
			</plugin>
		</gazebo>
		
		<gazebo>
			<plugin name="${name}_mimic_plugin_finger_3_med" filename="libgazebo_mimic_plugin.so">
				<joint>${name}_finger_3_med_joint</joint>
				<mimicJoint>${name}_finger_3_dist_joint</mimicJoint>
				<multiplier>1.0</multiplier>
			</plugin>
		</gazebo>
		
		<!-- ros_control plugin -->
		<gazebo>
			<plugin name="${name}_gazebo_ros_control" filename="libgazebo_ros_control.so">
			  <robotNamespace>${namespace}</robotNamespace>
			  <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			</plugin>
		</gazebo>

		<gazebo>
			<plugin name="${name}_gazebo_ros_joint_trajectory" filename="libgazebo_ros_joint_pose_trajectory.so">
			  <robotNamespace>${namespace}</robotNamespace>
			  <alwaysOn>true</alwaysOn>
			  <updateRate>100.0</updateRate>
			</plugin>
		</gazebo>

	</xacro:macro>

</robot>
