<?xml version="1.0"?>
<robot name="simple_barrett_hand" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Include all models -->
	<xacro:include filename="$(find barrett_hand_description)/model/barrett_hand.xacro"/>

	<link name="world"/>

	<!-- using the models -->
	<xacro:barrett_hand parent="world" name="barrett_hand" namespace="barrett_hand">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:barrett_hand>

</robot>

