<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lh_shadow_hand_robot">
	
  <!-- define PI variable -->
  <xacro:property name="pi" value="3.1415926535897931" />

 <!-- Create shadow hand -->
 <xacro:include filename="$(find sr_description)/materials.urdf.xacro"/>
 <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro"/>
 
 <xacro:macro name="shadow_hand" params="parent name prefix *origin">
		<joint name="${parent}_${name}_hand_joint" type="fixed">
		  <parent link="${parent}" />
		  <child link="${prefix}_forearm" />
		  <insert_block name="origin"/>
		</joint>
		<xacro:shadowhand muscletrans="false" muscle="false" bio="false" bt_sp="false"
						  ubi="false" eli="false" reflect="1.0" prefix="${prefix}_" lf="true" />
 </xacro:macro>

 <link name="kuka_lwr_left_7_link"/>
 <xacro:shadow_hand parent="kuka_lwr_left_7_link" name="sh_lh" prefix="lh">
		<origin xyz="0 0 0" rpy="0 0 ${pi}"/>
 </xacro:shadow_hand>

</robot>
