<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rbh_barrett_hand_robot">

  <!-- Create Barrett Hand -->
  <!-- Available choices: bh282.urdf.xacro, bh280.urdf.xacro -->	
  <xacro:include filename="$(find barrett_hand_description)/urdf/bh280.urdf.xacro" />

  <xacro:macro name="barrett_hand" params="parent name *origin">
		<xacro:bhand_macro name="${name}" parent="${parent}">
		    <insert_block name="origin"/>
	    </xacro:bhand_macro>
  </xacro:macro>

  <link name="kuka_lwr_right_7_link"/>
  <xacro:barrett_hand parent="kuka_lwr_right_7_link" name="rbh"  >
	<origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:barrett_hand>
 
</robot>
